<div class="material-theme">

    <h1>Material Design Web Components</h1>
    <ul data-bind="foreach: people">
        <li data-bind="style: { 'text-decoration': retired() ? 'line-through' : '' } ">
            [<span data-bind="text: id"></span>] <span data-bind="text: firstname"></span>
            <mwc-icon-button icon="delete" data-bind="click: $parent.delete"></mwc-icon-button>
        </li>
    </ul>
    <mwc-button data-bind="click: add">Add</mwc-button>


    <div style="margin: 40px 0px 150px;">
        <mwc-select label="People" data-bind="select: { options: people, property: { value: selectedPerson }}" style="margin-bottom: 20px;">
            <mwc-list-item data-bind="properties: { value: $value() }, text: firstname"></mwc-list-item>
        </mwc-select>

        <div data-bind="with: selectedPerson">
            <mwc-textfield label="Firstname" data-bind="properties: { value: firstname }"></mwc-textfield>
            <mwc-textfield label="Lastname" data-bind="properties: { value: lastname }"></mwc-textfield>
            <mwc-formfield label="Retired">
                <mwc-checkbox data-bind="properties: { checked: retired }"></mwc-checkbox>
            </mwc-formfield>
        </div>
    </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">