<div class="wired-theme">
    <h1>Wired</h1>
    <ul data-bind="foreach: people">
        <li data-bind="style: { 'text-decoration': retired() ? 'line-through' : '' } ">
            [<span data-bind="text: id"></span>] <span data-bind="text: firstname"></span> 
            <wired-icon-button data-bind="click: $parent.delete"><mwc-icon>delete</mwc-icon></wired-icon-button>
        </li>
    </ul>

    <wired-button data-bind="click: add">Add</wired-button>

    <wired-card style="margin: 40px 0">
        <wired-combo data-bind="select: { options: people, property: { selected: selectedPerson }}">
            <wired-item data-bind="properties: { value: $value() }, text: firstname"></wired-item>
        </wired-combo>*

        <div data-bind="with: selectedPerson">
            <wired-input placeholder="Firstname" data-bind="properties: { value: firstname }"></wired-input>
            <wired-input placeholder="Lastname" data-bind="properties: { value: lastname }"></wired-input>
            <wired-checkbox data-bind="properties: { checked: retired }">Retired</wired-checkbox>
        </div>
    </wired-card>

    <div>* = the Wired select doesn't update on setting the value. This is a bug in Wired Elements</div>
</div>

<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">